<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Books</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="navbar">
    <a href="/dashboard" style="color: white; text-decoration: none;">
      <div class="logo">
        <h1>Library Management System</h1>
      </div>
    </a>
    <div class="options">
      <a href="/books">View Books</a>
      <a href="/profile">View Profile</a>
      <a href="/viewAllUsers">View All Users</a>
      <a href="/add-librarian">Add Librarian</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  <div class="content">
    <div class="form-container">
      <div class="back-button">
        <a href="/dashboard"><i class="fas fa-arrow-left" style="color: black;"></i></a>
      </div>
      <br>
  <h2>All Books</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.category.name %></td>
          <td><%= book.quantity %></td>
            <td>
              <form method="post" action="/delete-book">
                <input type="hidden" name="bookId" value="<%= book._id %>">
                <button type="submit">Delete Book</button>
              </form>
            </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
    </div><br><br>

    <div class="form-container">
      <div class="category-list">
        <h2>Categories</h2>
        <table>
          <thead>
            <tr>
              <th>Category</th>
              <th>Delete Category</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach(category => { %>
              <tr>
                <td><%= category.name %></td>
                <td>
                  <form method="post" action="/delete-category">
                    <input type="hidden" name="categoryId" value="<%= category._id %>">
                    <button type="submit">Delete</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>