<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Books</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>All Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.category.name %></td>
          <td><%= book.quantity %></td>
            <td>
              <form method="post" action="/delete-book">
                <input type="hidden" name="bookId" value="<%= book._id %>">
                <button type="submit">Delete Book</button>
              </form>
            </td>
            <td>
              <form method="post" action="/delete-category">
                <input type="hidden" name="categoryId" value="<%= book.category._id %>">
                <button type="submit">Delete Category</button>
              </form>
            </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>