<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Books</title>
</head>
<body>
  <h1>All Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Check Out Book</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.category.name %></td>
          <td><%= book.quantity - book.checkedOutQuantity %></td>
          <td>
            <form method="post" action="/check-out">
              <input type="hidden" name="bookId" value="<%= book._id %>">
              <button type="submit" <% if (book.quantity - book.checkedOutQuantity === 0) { %> disabled <% } %>>Check Out</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>