<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Books</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>All Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Total Quantity</th>
        <th>Checked Out Quantity</th>
        <th>Available Quantity</th>
        <th>Edit Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.category.name %></td>
          <td><%= book.quantity %></td>
          <td><%= book.checkedOutQuantity %></td>
          <td><%= book.quantity - book.checkedOutQuantity %></td>
          <td>
            <form method="get" action="/edit-quantity/<%= book._id %>">
              <button type="submit">Edit Quantity</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>