<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checked Out Books</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="navbar">
    <a href="/dashboard" style="color: white; text-decoration: none;">
      <div class="logo">
        <h1>Library Management System</h1>
      </div>
    </a>
    <div class="options">
      <a href="/profile">View Profile</a>
      <a href="/books">View Books</a>
      <a href="/all-checked-out-books">View All Checked Out Books</a>
      <a href="/view-add-category">View All Categories</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  <div class="content">
    <div class="form-container">
  <h2>All Checked Out Books</h2>
  <% if (checkedOutBooks.length === 0) { %>
    <p>No books checked out.</p>
  <% } else { %>
    <ul style="padding-left: 20px;">
      <% checkedOutBooks.forEach(book => { %>
        <li>
          <strong>Title:</strong> <%= book.title %><br>
          <strong>Author:</strong> <%= book.author %><br>
          <strong>Category:</strong> <%= book.category.name %><br>
          <strong>Total Quantity Checked Out:</strong> <%= book.checkedOutQuantity %><br>
        </li><br><br>
      <% }); %>
    </ul><hr><br>
  <p style="padding-left: 10px;"><strong>Total Number of Books Checked Out: </strong><%= checkedOutBooks.length %></p>
  <% } %>
</div>
</div>
</body>
</html>