<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View All Users</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="navbar">
    <a href="/dashboard" style="color: white; text-decoration: none;">
      <div class="logo">
        <h1>Library Management System</h1>
      </div>
    </a>
    <div class="options">
      <a href="/books">View Books</a>
      <a href="/profile">View Profile</a>
      <a href="/viewAllUsers">View All Users</a>
      <a href="/add-librarian">Add Librarian</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  <div class="content">
    <div class="form-container">
  <h2>All Users</h2>
  <ul style="padding-left: 20px;">
    <% users.forEach(user => { %>
      <% if (user.username !== currentUser.username) { %>
        <li>
            <strong>Username:</strong> <%= user.username %><br>
            <strong>Role:</strong> <%= user.role %><br>
            <strong>First Name:</strong> <%= user.firstName %><br>
            <strong>Last Name:</strong> <%= user.lastName %><br>
            <strong>Email:</strong> <%= user.email %><br>
            <strong>Phone Number:</strong> <%= user.phoneNumber %><br>
            <br>
            <form method="post" action="/block-user">
              <input type="hidden" name="userId" value="<%= user._id %>">
              <button type="submit">
                  <% if (user.blocked === true) { %>
                      Unblock User
                    <% } else { %>
                      Block User
                    <% } %>
              </button>
            </form><br><br>
        </li>
      <% } %>
    <% }) %>
  </ul>
</div>
</div>
</body>
</html>
